*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: dimgrey;
  padding: 32px 8px;
}

.card{
  width: 100%;
  max-width: 400px;
  display: flex;
  padding: 8px;
  background: whitesmoke;
  margin-bottom: 4px;
  border-radius: 8px;
  align-items: center;
  position: relative;
  gap: 16px;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0);
  opacity: .8;
  transition: all .4s ease;
}

.card:hover{
  position: relative;
  bottom: 1px;
  opacity: 1;
}

.card[class~="selected"]{
  opacity: 1;
}

.card .check{
  position: absolute;
  display: block;
  width: 100%;
  aspect-ratio: 1;
  background: green;
  border-radius: 50%;
  top:33px;
  transition: all .4s ease;
}

.card .check:before{
  position: absolute;
  display: block;
  content: '';
  width:16px;
  height: 2px;
  background: white;
  transform: rotate(-45deg);
  top: 16px;
  left: 10px;
}

.card .check:after{
  position: absolute;
  display: block;
  content: '';
  width:8px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  top: 18px;
  left: 6px;
}


.card[class~="selected"] .check{
  top: 0;
}



.card h2, .card h3, .card p{
  font-size: 16px;
}

.card h3 span{
  font-weight: normal
}

.card svg{
  width: 120px;
  height: 30px;
}

circle{
  fill-opacity: 0 !important;
}


.iconContainer{
  display: block;
  width: 32px;
  aspect-ratio:1/1;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 4px rgba(8,8,8,0.16);
  transition: all .4s ease;
}
.iconContainer img{
  display: block;
  width: 80%;
  border-radius: 50%;
}

.card[class~="selected"] .iconContainer{
  box-shadow: 0 0 4px 4px rgba(0,128,0,0.24)
}
